
model_params:
  model_type: glow
  num_resnet_blocks: 1 # will be ignored in case of glow
  num_scales: 3 #L split happens after each block
  num_step_of_flow: 32 # K each flow step (in case of RealNVP it has 6 affine coupling layers)
  n_bins:  265

train_params:
  lr: 1.e-3
  epochs: 5
  model_checkpoint_path: "./tmp/model_checkpoints/"

data_params:
  num_samples: 128
  batch_size: 128
  num_workers: 1
  dataset_name: lsun_bedroom # or lsun_bedroom

sampling_params:
  num_samples_nrow: 5
  num_samples_ncols: 5
  generate_fixed_images: True
  samples_output_path: ./tmp/samples/